.home{
      background-color: rgb(193, 104, 104);


      .title{
            position: absolute;
            top: 40px;
            left: 40%;


     }


}

.pic{
      display: block;
      margin-top: 100px;
     
} 